body {
    font-family: "Courier New", monospace;
}

h1, h2, h3, p {
    font-family: "Courier New", monospace;
}

main{
    padding-left: 80px;
    padding-right: 80px;
}

head{
    padding-left: 80px;
    padding-right: 80px;
}

header{
    padding-left: 80px;
    padding-right: 80px;
}

footer{
    padding-left: 80px;
    padding-right: 80px;
}

